{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game of Thrones</h1>
    <h2>Liste des maisons concurrentes.</h2>

    <table>
        <thead>
            <tr>
                <th>Ecusson de la maison</th>
                <th>Nom</th>
                <th>Argent disponible</th>
                <th>Membre principal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for house in houses %}
            <tr>
                <td>{{ house.sigil }}</td>
                <td>{{ house.name }}</td>
                <td>{{ house.money }}</td>
                {% for familyMember in familyMembers %}
                    <td>{{ familyMember.firstName }}</td>
                {% endfor %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('house_show', { 'id': house.id }) }}">En savoir plus</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
