{% extends 'base.html.twig' %}

{% block body %}
    <h1>House</h1>

    <h2>Informations</h2>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ house.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ house.name }}</td>
            </tr>
            <tr>
                <th>Sigil</th>
                <td><img src="{{ house.sigil }}"></td>
            </tr>
            <tr>
                <th>Money</th>
                <td>{{ house.money }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Chef de la maison</h2>
    {# ici il faudrait ajouter un lien vers les infos du member lié à cette maison, en lui passant un array dans le controleur, mais j'ai pas l'temps#}

    <h2>Armée</h2>
    {#ici il faudrait faire la meme chose mais avec chaque soldat qui appartiendrait à la maison en question, avec un for...in. mais pas le temps et surtout liaisons pas faites#}

    <ul>
        <li>
            <a href="{{ path('house_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
