{% extends 'base.html.twig' %}

{% block body %}
    <h1>Member_of_a_family</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member_of_a_family.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ member_of_a_family.firstName }}</td>
            </tr>
            <tr>
                <th>Healthpoints</th>
                <td>{{ member_of_a_family.healthPoints }}</td>
            </tr>
            <tr>
                <th>Strength</th>
                <td>{{ member_of_a_family.strength }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('member_of_a_family_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
