{% extends 'base.html.twig' %}

{% block body %}
    <h1>House</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ house.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ house.name }}</td>
            </tr>
            <tr>
                <th>Sigil</th>
                <td>{{ house.sigil }}</td>
            </tr>
            <tr>
                <th>Army</th>
                <td>{{ house.army }}</td>
            </tr>
            <tr>
                <th>Money</th>
                <td>{{ house.money }}</td>
            </tr>
            <tr>
                <th>Family</th>
                <td>{{ house.family }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('houses_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
